*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --box-size: 100px;
}

.box-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
  margin: 10px;

  :where(li) {
      width: 100%;
      height: var(--box-size);
      border: 1px dashed #00000060;
  }
}

.box-list__box {
  width: var(--box-size);
  height: var(--box-size);
  border: 1px solid #000;
  border-radius: 2px;
}
.box-list__box-line {
  width: fit-content;
  
  > * {
    --box-size: 80px;
  }
}
.box-list__box-viewport {
  border: 1px solid #0F0;
}
.box-list__box-virtual,
.box-list__box-virtual-signal {
  border: 1px solid #00F;
}
.box-list__box-virtual-box-preview {
  position: fixed;
  border: 1px dashed #00F;
  opacity: 0;
  pointer-events: none;
  left: 50px;
  top: 50px;
  width: calc(100vw - 100px);
  height: calc(100svh - 100px);
}
.box-list__box-virtual:hover ~ .box-list__box-virtual-box-preview,
.box-list__box-virtual-signal:hover ~ .box-list__box-virtual-box-preview {
  opacity: 1;
}
.box-list__box-sticky {
  position: sticky;
  z-index: 1;
  top: 0;
  margin: -10px -10px 0 -10px;
  width: 100vw;
  border: 0;
  border-bottom: 2px solid #666;
  background: #ffffffc0;
}

.highlight {
  outline: 2px solid #ff0000;
  outline-offset: -2px;
}