*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
  margin: 10px;

  :where(li) {
      width: 100%;
      height: 100px;
      border: 1px dashed #00000060;
  }
}

.box-list__box {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 2px;
}
.box-list__box-viewport {
  border: 1px solid #0F0;
}
.box-list__box-sticky {
  position: sticky;
  z-index: 1;
  top: 0;
  margin: -10px -10px 0 -10px;
  width: 100vw;
  border: 0;
  border-bottom: 2px solid #666;
  background: #ffffffc0;
}

.highlight {
  outline: 2px solid #ff0000;
  outline-offset: -2px;
}