---
import '../../signal/style.css'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Signal">
    <ul class="box-list">
        <li class="box-list__box box-list__box-sticky"></li>
        <li class="box-list__box"></li><li class="box-list__box"></li><li class="box-list__box"></li><li class="box-list__box"></li><li class="box-list__box"></li><li class="box-list__box"></li><li class="box-list__box"></li><li class="box-list__box"></li><li class="box-list__box"></li><li class="box-list__box"></li><li class="box-list__box"></li><li class="box-list__box"></li><li class="box-list__box"></li><li class="box-list__box"></li><li class="box-list__box"></li><li class="box-list__box"></li>
        <li class="box-list__box box-list__box-virtual"></li>
        <li class="box-list__box box-list__box-virtual-signal"></li>
        <li class="box-list__box box-list__box-virtual-box-preview"></li>
        <li></li><li></li>
        <li class="box-list__box box-list__box-relative"></li>
        <li class="box-list__box box-list__box-line">
            <ul class="box-list">
                <li class="box-list__box box-list__box-relative"></li><li class="box-list__box box-list__box-relative"></li>
            </ul>
        </li>
        <li></li><li></li><li></li><li></li><li></li><li></li>
        <li class="box-list__box"></li><li class="box-list__box"></li><li class="box-list__box"></li><li class="box-list__box"></li>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        <li class="box-list__box"></li><li class="box-list__box"></li><li class="box-list__box"></li><li class="box-list__box box-list__box-viewport"></li><li class="box-list__box box-list__box-viewport"></li>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
        <li class="box-list__box"></li><li class="box-list__box"></li><li class="box-list__box"></li><li class="box-list__box"></li>
        <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
    </ul>
    <script src="../../signal/test.ts"></script>
</Layout>